# Markdown Cells in Jupyter Notebooks

## And Some Examples of Markdown!

### You can use markdown to style Jupyter Notebook cells. Run the Notebook cell to see the result. Double click on any cell to see or edit the markdown code that produced it.

You can make links like this one for [Google](https://google.com) (It takes you to Google.com)

### You can make list items with a hyphen and a space:

- list item 1
- list item 2

If you type 

<pre>```python

some code</pre>

<pre>```</pre>

the cell will print your code block with syntax highlighting.

```python
import os
for i in os.walk:
    pass
```

You can even make an html table in a readme file (this is how dataframes are displayed)

<table align='left'>
<thead>
	<tr>
		<th title="Rank">Rank</th>
	    <th title="Term">Term</th>
	    <th title="Count">Count</th>
    </tr>
</thead>
<tbody>
	<tr>
<td></td>
		<td>1</td>
		<td>the</td>
		<td>21</td>
	</tr>
	<tr>
<td></td>
		<td>2</td>
		<td>of</td>
		<td>16</td>
	</tr>
	<tr>
<td></td>
		<td>3</td>
		<td>her</td>
		<td>15</td>
	</tr>
	<tr>
<td></td>
		<td>4</td>
		<td>in</td>
		<td>14</td>
	</tr>
	<tr>
<td></td>
		<td>5</td>
		<td>and</td>
		<td>13</td>
	</tr>
	<tr>
<td></td>
		<td>6</td>
		<td>she</td>
		<td>10</td>
	</tr>
	<tr>
<td></td>
		<td>7</td>
		<td>at</td>
		<td>8</td>
	</tr>
	<tr>
<td></td>
		<td>8</td>
		<td>cochrane</td>
		<td>4</td>
	</tr>
	<tr>
<td></td>
		<td>9</td>
		<td>was</td>
		<td>4</td>
	</tr>
	<tr>
<td></td>
		<td>10</td>
		<td>to</td>
		<td>4</td>
	</tr>
</tbody>
</table>

Or display an image!

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Jupiter.jpg/800px-Jupiter.jpg">